/* CSS HERE WILL AFFECT ALL PAGES */

@font-face {
    font-family: sf-pro-display-bold;
    src: url("../src/assets/fonts/sf-display-pro/sf-pro-display-bold.otf");
}

@font-face {
    font-family: quicksand;
    src: url("../src/assets/fonts/quicksand/Quicksand-VariableFont_wght.ttf");
}

* {
    font-family: quicksand;
}
#moods{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:5%;
    flex-wrap: wrap;
    position:relative;
    /* background-color: white; */
}
.faces{
    height:150px;
    width:auto;
    /* background-color: white; */
    margin-top:30px

}
.select-mood{
    margin-top:45px;
    position:relative;
    left: 45%;
}
.button{
    border:none;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}
#journalEntry, .label{
    width: 100%;
    color: #FFF;
    background: transparent;
    border: none;
    outline: none;
    padding:15px;
}